<!DOCTYPE html>
<html lang="en">
<head>
<title>EDUWheels</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">EDUWheels</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/rides">Available Rides</a>
      <a class="nav-item nav-link active" href="#">Offer Ride <span class="sr-only">(current)</span></a>
    </div>
      <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User Profile
      </a>-->
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Driver Profile</a>
      <a class="dropdown-item" href="#">Rider Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>

<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">Welcome to EDUWheels, the place to find secure campus ride sharing!</p>
</div>

<div class="container-fluid">
  <form action="#" method="post" id="rideForm" name="rideForm">
    <div class="form-group">
    {% csrf_token %}
   
      <div class="form-row">
        <div class="col">
          <label for="departDate">Departure Date: </label>
          <input type="date" id="departDate" name="departDate" required class="form-control" form="rideForm" value="2020-05-11"><br>
        </div>
        <div class="md-form md-outline input-with-time-icon timepicker" twelvehour="true">
          <label for="departTime">Departure Time: </label>
          <input type="text" id="departTime" name="departTime" required class="form-control timepicker" form="rideForm" placeholder='Select Time'><br>
          <i class="fas fa-envelope input-prefix"></i>
        </div>
        <div class="col">
          <label for="seatCapacity">Maximum Number of Riders: </label>
          <input type="number" id="seatCapacity" name="seatCapacity" class="form-control" form="rideForm" min="0" value="1">
        </div>
      </div>
      
      <div class="form-row">
        <div class="col">
          <label for="departLocation">Departure Location: </label>
          <input type="text" id="departLocation" name="departLocation" class="form-control" form="rideForm" value="97383"><br>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label for="arrivalLocation">Arrival Location: </label>
          <input type="text" id="arrivalLocation" name="arrivalLocation" class="form-control" form="rideForm" value="97322"><br>
        </div>
      </div>
      
      <div class="form-row">
        <div class="col">
          <label for="driverEmail">Driver E-Mail: </label>
          <input type="email" id="driverEmail" name="driverEmail" required class="form-control" form="rideForm" value="nlegras14@wou.edu"><br>
        </div>
        <div class="col-2">
          <label for="riderPrice">Price: </label><br>
          <input type="number" inputmode="numeric" max="999" min ="0" step ="5" value="0" id="riderPrice" name="riderPrice" required class="form-control" form="rideForm"><br>
        </div>
      </div>
      
      <div class="form-row">
        <div class="col">
          <label for="driSmokes">Smoking allowed in vehicle </label>
        </div>
        <div class="col">
          <input type="checkbox" id="driSmokes" name="drisSmokes" value="on" form="rideForm">
        </div>
        <div class="col">
          <label for="riderPets">Pets are allowed in vehicle </label>
        </div>
        <div class="col">
          <input type="checkbox" id="riderPets" name="ridersPets" value="on" form="rideForm">
        </div>
        <div class="col">
          <label for="riderLugg">Number of luggage allowed: </label>
        </div>
        <div class="col">
          <input type="number" id="riderLugg" name="ridersLugg" class="form-control" min="0" value="0" form="rideForm">
        </div>
      </div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#submitModal">
        Submit Offer
      </button>

      <!-- Modal -->
      <div class="modal" id="submitModal">
        <div class="modal-dialog">
          <div class="modal-content">
          
            <div class="modal-header">
              <h4 class="modal-title">Confirm Offer</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <div class="modal-body">
              <div class="container-fluid">
                <p>Are you sure you want to offer this ride?</p>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" value="Submit" class="btn btn-primary" form="rideForm">
            </div>
          </div>
        </div>
      </div>      
    </div class="form-group">
  </form>
  {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
        {{ message }}
    </div>
  {% endfor %}
  <!--% include '..\templates\messages.html' %-->
  // Time Picker Initialization
  $('#input_starttime').pickatime({});
</div>


</body>
</html>



