<!DOCTYPE html>
<html lang="en">
<head>
<title>EDUWheels</title>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
  @media only screen and (max-width: 800px) {
	
  	/* Force table to not be like tables anymore */
  	#no-more-tables table, 
  	#no-more-tables thead, 
  	#no-more-tables tbody, 
  	#no-more-tables th, 
  	#no-more-tables td, 
  	#no-more-tables tr { 
  		display: block; 
  	}
   
  	/* Hide table headers (but not display: none;, for accessibility) */
  	#no-more-tables thead tr { 
  		position: absolute;
  		top: -9999px;
  		left: -9999px;
  	}
   
  	#no-more-tables tr { border: 1px solid #ccc; }
   
  	#no-more-tables td { 
  		/* Behave  like a "row" */
  		border: none;
  		border-bottom: 1px solid #eee; 
  		position: relative;
  		padding-left: 50%; 
  		white-space: normal;
  		text-align:left;
  	}
   
  	#no-more-tables td:before { 
  		/* Now like a table header */
  		position: absolute;
  		/* Top/left values mimic padding */
  		top: 6px;
  		left: 6px;
  		width: 45%; 
  		padding-right: 10px; 
  		white-space: nowrap;
  		text-align:left;
  		font-weight: bold;
  	}
   
  	/*
  	Label the data
  	*/
  	#no-more-tables td:before { content: attr(data-title); }
  }
  
</style>
</head>

<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">EDUWheels</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Available Rides <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/submit">Offer Ride</a>
    </div>
    <div class="navbar-nav">
      <div class="btn-group dropdown">
        {% if user.is_authenticated %}
          <a class="nav-item nav-link dropdown-toggle text-info" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User Profile</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'profile' %}">Driver Profile</a>
          <a class="dropdown-item" href="{% url 'profile' %}">Rider Profile</a>
        </div>
      </div>
    </div>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
    {% endif %}
  </div>
</nav>

<div class="jumbotron">
  <h1 class="display-4">EDUWheels</h1>
  <p class="lead">Welcome to EDUWheels, the place to find secure campus ride sharing!</p>
</div>


<div class="container-fluid">
  {% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      {{ message }}
  </div>
  {% endfor %}  
  
  <section id="no-more-tables">

    <table class="table table-striped" id="availableRides">
      <caption>Available Rides</caption>
      <thead>
        <tr>
          <th scope="col" onclick="sortTableDate(0, 'dd')">Departure Date<i id="dd" class="fa fa-fw fa-sort"></i></th>
          <th scope="col" onclick="sortTableTime(1, 'dt')">Departure Time<i id="dt" class="fa fa-fw fa-sort"></th>
          <th scope="col" onclick="sortTableA(2, 'dc')">Departure City<i id="dc" class="fa fa-fw fa-sort"></th>
          <th scope="col" onclick="sortTableA(3, 'ac')">Destination City<i id="ac" class="fa fa-fw fa-sort"></th>
          <!--<th scope="col" onclick="sortTableA(4, 'em')">Driver Email<i id="em" class="fa fa-fw fa-sort"></th>-->
          <th scope="col" onclick="sortTableA(5, 'st')">Seats Taken<i id="st" class="fa fa-fw fa-sort"></th>
          <th scope="col" onclick="sortTableC(6, 'pr')">Price<i id="pr" class="fa fa-fw fa-sort"></th>
          <th scope="col" onclick="sortTableA(7, 're')">Reserve<i id="re" class="fa fa-fw fa-sort"></th>
        </tr>
      </thead>
      <tbody>
      {% for ride in rides %}
        <tr>
          <td data-title="Departure Date">{{ ride.depDate|date:"F j, Y" }}</td>
          <td data-title="Departure Time" value={{ ride.depTime|time:"H:i" }}>{{ ride.depTime|time:"g:i A" }}</td>
          <td data-title="Departure City">{{ ride.depName }}</td>
          <td data-title="Destination City">{{ ride.arrName }}</td>
          <!--<td data-title="Driver Email">{{ ride.driEmail }}</td>-->
          <td data-title="Seats Taken">{{ ride.seatTaken }} / {{ ride.seatCapacity }}</td>
          <td data-title="Price">&dollar;{{ ride.riderPrice }}</td>
          <td>{% if ride.seatTaken != ride.seatCapacity %}
          
            <form action="reserve" method="post" id="resForm" name="resForm">
              {% csrf_token %}
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-{{ ride.id }}">Reserve</button>
              <div class="container">
              
                <!-- The Modal -->
                <div class="modal" id="modal-{{ ride.id }}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                    
                      <div class="modal-header">
                        <h4 class="modal-title">Confirm Reservation</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      
                      <div class="modal-body">
                        <div class="container-fluid">
                          <div class="row">
                              <div class="col">Departure Date: </div>
                              <div class="col">{{ ride.depDate }}</div>
                          </div>
                          <div class="row">
                              <div class="col">Departure Time: </div>
                              <div class="col">{{ ride.depTime|time:"g:i A" }}</div>
                          </div>
                          <div class="row">
                              <div class="col">Departure City: </div>
                              <div class="col">{{ ride.depName }}</div>
                          </div>
                          <div class="row">
                              <div class="col">Destination City: </div>
                              <div class="col">{{ ride.arrName }}</div>
                          </div>
                          <div class="row">
                              <div class="col">Seats Taken: </div>
                              <div class="col">{{ ride.seatTaken }} / {{ ride.seatCapacity }}</div>
                          </div>
                          <div class="row">
                              <div class="col">Price: </div>
                              <div class="col">&dollar;{{ ride.riderPrice }}</div>
                          </div>
                          <!--<div class="row">-->
                          <!--    <div class="col">Driver Email: </div>-->
                          <!--    <div class="col">{{ ride.driEmail }}</div>-->
                          <!--</div>-->
                        </div>
                      </div>
                    
            
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <a class="btn btn-outline-info" href="{% url 'rideDetails' ride.id %}" role="button">More Information</a>
                          <button class="btn btn-info" form="resForm" id="reserveID" name="reserveID" value="{{ ride.id }}">Reserve</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Modal -->
              
            </div>
            {% endif %}
            {% if ride.seatTaken == ride.seatCapacity %}
            <button type="button" class="btn btn-secondary" {{ ride.reserved }} disabled>Reserved</button>
            {% endif %}
            </form>
          </td>
        </tr>
      {% endfor %}   
      </tbody>
  
    </table>
  </section>
  
</div>
  
    <div class="row mt-5 mb-5"></div>

<script>
  function sortTableA(n, id) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("availableRides");
    console.log(table);
    switching = true;
    dir = "asc"; 
    while (switching) {
      switching = false;
      rows = table.rows;
      for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        switchcount ++;      
      } else {
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }

  function sortTableDate(n, id) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("availableRides");
    console.log(table);
    switching = true;
    dir = "asc"; 
    while (switching) {
      switching = false;
      rows = table.rows;
      for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        if (dir == "asc") {
          if (Date.parse(x.innerHTML) > Date.parse(y.innerHTML)) {
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (Date.parse(x.innerHTML) < Date.parse(y.innerHTML)) {
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        switchcount ++;      
      } else {
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }

  function sortTableTime(n, id) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("availableRides");
    console.log(table);
    switching = true;
    dir = "asc"; 
    while (switching) {
      switching = false;
      rows = table.rows;
      for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("TD")[n].getAttribute("value");
        y = rows[i + 1].getElementsByTagName("TD")[n].getAttribute("value");
        if (dir == "asc") {
          if (x > y) {
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (x < y) {
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        switchcount ++;      
      } else {
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }

function sortTableC(n, id) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("availableRides");
    console.log(table);
    switching = true;
    dir = "asc"; 
    while (switching) {
      switching = false;
      rows = table.rows;
      for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        if (dir == "asc") {
          if (parseFloat(x.innerHTML.substr(1)) > parseFloat(y.innerHTML.substr(1))) {
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (parseFloat(x.innerHTML.substr(1)) < parseFloat(y.innerHTML.substr(1))) {
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        switchcount ++;      
      } else {
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }

</script>



</body>
</html>



