<!DOCTYPE html>
<html lang="en">
<head>
<title>EDUWheels</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">EDUWheels</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/rides">Available Rides</a>
      <a class="nav-item nav-link active" href="#">Offer Ride <span class="sr-only">(current)</span></a>
    </div>
    {% if user.is_authenticated %}
      <a class="nav-link dropdown-toggle text-info" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User Profile
      </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{% url 'profile' %}">Driver Profile</a>
      <a class="dropdown-item" href="{% url 'profile' %}">Rider Profile</a>
    </div>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
  <div class ="navbar-nav">
    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
    {% endif %}
  </div>
</nav>

<div class="jumbotron">
  <h1 class="display-4">EDUWheels</h1>
  <p class="lead">Welcome to EDUWheels, the place to find secure campus ride sharing!</p>
</div>


<div class="container-fluid">

  <div class="row mx-1">
      <form action="#" method="post" id="rideForm" name="rideForm">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            {{ message }}
        </div>
        {% endfor %}
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-sm-6">
              <label for="departDate">Departure Date </label>
              <input type="date" id="departDate" name="departDate" required class="form-control" form="rideForm" >
          </div>
          <div class="form-group col-sm-6">
            <label for="departTime">Departure Time </label>
            <input type="time" id="departTime" name="departTime" required class="form-control" form="rideForm" value="12:00:00" step="1800" list="timelist">
              <datalist id="timelist">
                <option value="12:00">
                <option value="14:00">
                <option value="16:00">
                <option value="18:00">
                <option value="20:00">
                <option value="22:00">
              </datalist>
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group col-sm-6">
            <label for="departLocation">Departure Location </label>
            <input type="text" id="departLocation" name="departLocation" class="form-control" form="rideForm" >
            <small id="departHelp" class="form-text text-muted">Enter 5-digit Zip code or City and State.</small>
          </div>
          <div class="form-group col-sm-6">
            <label for="arrivalLocation">Arrival Location </label>
            <input type="text" id="arrivalLocation" name="arrivalLocation" class="form-control" form="rideForm" >
            <small id="arrivalHelp" class="form-text text-muted">Enter 5-digit Zip code or City and State.</small>
          </div>
        </div>
        
        <div class="form-row align-items-end">
          <div class="form-group col-sm-4">
            <label for="seatCapacity">Passengers</label>
            <input type="number" id="seatCapacity" name="seatCapacity" class="form-control" form="rideForm" min="0" value="1">
          </div>
          <div class="form-group col-sm-4">
            <label for="riderPrice">Price</label>
            <input type="number" inputmode="numeric" max="999" min ="0" step ="5" value="0" id="riderPrice" name="riderPrice" required class="form-control" form="rideForm">
          </div>
          <div class="form-group col-sm-4">
            <label for="riderLugg">Luggage Items</label>
            <input type="number" id="riderLugg" name="ridersLugg" class="form-control" min="0" value="0" form="rideForm">
          </div>
        </div>
        
        <div class="form-row">
          <div class="col-auto my-1">
            <div class="custom-control custom-checkbox mr-sm-2">
              <input type="checkbox" class="custom-control-input" id="driSmokes" name="drisSmokes" value="on" form="rideForm">
              <label class="custom-control-label" for="driSmokes">Smoking allowed in vehicle</label>
            </div>
            <div class="custom-control custom-checkbox mr-sm-2">
              <input type="checkbox" class="custom-control-input" id="riderPets" name="ridersPets" value="on" form="rideForm">
              <label class="custom-control-label" for="riderPets">Pets are allowed in vehicle</label>
            </div>
          </div>
        </div>
        
        <div class="form-row mt-3 mb-5">
          <div class="col-auto my-1">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#submitModal">Submit Offer</button>
          </div>
          <div class="col-auto my-1">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#returnModal">Submit with Return Ride</button>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal" id="submitModal">
          <div class="modal-dialog">
            <div class="modal-content">
              
              <div class="modal-header">
                <h4 class="modal-title">Confirm Offer</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <div class="modal-body">
                <div class="container-fluid">
                  <p>Are you sure you want to offer this ride?</p>
                </div>
              </div>
              
              <div class="modal-footer">
                    <input hidden type="date" id="returnDate" name="returnDate" class="form-control" form="rideForm" value="0000-00-00"><br>
                    <input hidden type="time" id="returnTime" name="returnTime" class="form-control" form="rideForm" value="12:00:00" step="1800" list="timelist">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" value="Submit" class="btn btn-info" form="rideForm">
              </div>

            </div>
          </div>
        </div>
          
        <!-- Return Trip Modal -->
        <div class="modal" id="returnModal">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <div class="modal-header">
                <h4 class="modal-title">Return Trip Information</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <div class="modal-body">
                <div class="container-fluid">
                  <p>Please enter a date and time you will be returning.</p>
                  <div class="form-row">
                    <div class="col">
                      <label for="returnDate">Return Date: </label>
                      <input type="date" id="returnDate" name="returnDate" class="form-control" form="rideForm" value="0000-00-00"><br>
                    </div>
                    <div class="col">
                      <label for="returnTime">Return Time: </label>
                      <input type="time" id="returnTime" name="returnTime" class="form-control" form="rideForm" value="12:00:00" step="1800" list="timelist"><br>
                        <datalist id="timelist">
                          <option value="12:00">
                          <option value="14:00">
                          <option value="16:00">
                          <option value="18:00">
                          <option value="20:00">
                          <option value="22:00">
                        </datalist>
                    </div>
                  </div>
                </div>  
              </div>   
              
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" value="Submit" class="btn btn-info" form="rideForm">
              </div>
                  


          </div>
        </div>
      </div>
    
      </form>
    
  </div>
  <div class="row mt-5 mb-5"></div>
</div>

</html>



